*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#container {
    min-width: 600px;
}

#nav-bar {
    padding: 0 5px 0 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background: #5E5E5E;
}

#nav-menu-container {
    display: flex;
    justify-content: center;
    flex: 0 0 auto;
}

#nav-bar-filler-right {
    height: 0;
    flex: 4 1 1px;
}

#nav-bar-filler-left {
    height: 0;
    flex: 1 1 1px;
}

.menu-item {
    font-family: 'Asap Condensed', sans-serif;
    font-size: 24px;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    cursor: pointer;
    width: 140px;
    text-decoration: none;
}

.menu-item:hover {
    background: #444444;
}

#content-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#content {
    /* margin: 0 auto; */
    padding: 30px 10px 10px 10px;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap-reverse;
}

#text-area {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    flex: 999 1 600px;
    margin: 0 20px;
    color: #313131;
}

#text-area h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
    margin-bottom: 16px;
}

#text-area h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 26px;
}

#text-area p {
    margin-top: 16px;
    margin-bottom: 16px;
}

#text-area .quote {
    font-style: italic;
    margin: 16px;
}

#text-area .insert-img {
    margin-top: 10px;
    margin-right: 10px;
    width: auto;
    max-width: 300px;
    height: auto;
    float: left;
}

#index {
    font-family: 'Asap Condensed', sans-serif;
    font-size: 20px;
    flex: 1 0 auto;
    margin: 0 20px;
    margin-bottom: 20px;
}

#index,
#index * {
    list-style-type: none;
}

#index>li ul {
    display: none;
}

#index>li>ul>li {
    padding-left: 20px;
}

#index>li>ul>li>ul>li {
    padding-left: 20px;
}

.show-children>ul {
    display: block !important;
}

#index li>div:first-child {
    width: 100%;
    cursor: pointer;
    user-select: none;
    background: #5E5E5E;
    color: white;
    padding: 5px 10px;
    margin: 0 0 5px 0;
}

#index li:last-child>div>:first-child {
    margin: 0;
}

#index li>div:first-child:hover {
    background: #444444;
}